.buttons-calculator {
    font-size: 30px;
    height: 75px;
    width: 75px;
    padding: 20px;
    margin: 5px;
    background-color: #ede9ea;
    color: #000;
    border: 1px solid #fff;
    text-align: center;
    outline: none;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #c1bdbe;
    transition: transform 100ms linear, opacity 200ms ease-in-out;
}

.buttons-calculator.-orange {
    color: #fff;
    background-color: #f86925;
    border-color: #f86925;
    box-shadow: 2px 2px 2px #d14e10;
    transition: transform 100ms linear, opacity 200ms ease-in-out;
}


.buttons-calculator:active {
    background: #c1bdbe;
    border-color: #c1bdbe;
    box-shadow: 2px 2px 2px #c1bdbe;
}

.buttons-calculator:hover {
    color: #9bd5b8;
    transform: scale(1.03);
    opacity: 0.9;
}

.buttons-calculator.-orange:active {
    background: #d14e10;
    border-color: #d14e10;
    box-shadow: 2px 2px 2px #d14e10;
}

.buttons-calculator.-orange:hover {
    color: #000;
    transform: scale(1.03);
    opacity: 0.9;
}