.main {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #110d0d;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 340px;
    background-color: #6e6d6d;
    border-radius: 10px;
    box-shadow: 5px 5px 0 #454545;
}

.wrapper-buttons {
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #6e6d6d;
    border-radius: 0 0 10px 10px;
}